<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css"/>
  <title>Document</title>
</head>
<body>
  <div class="option_wrap">
    <div class="option_boX">
      <div class="option_title_box">
        <dv class="option_back">X</dv>
        <div class="option_title">选择银行卡</div>
      </div>
      <div class="option_content">
        <div class="option_item">
          <div class="option_item_icon"></div>
          <div class="option_item_txt">中国银行借记卡 （321315161）</div>
          <div class="option_item_checked"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>